.main {
  width: 80%;
  margin: 30px auto;
}

.header {
  margin-bottom: 20px;
  text-align: center;
}

.link {
  padding: 10px;
  margin: 10px;
}

.movies {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  margin: 10px;
}

.movie-img {
  width: 100%;
  height: 300px;
}

.btn-edit {
  margin-right: 10px;
}
